<!DOCTYPE html>
<html ng-app="consig">
<head>
	<title>purpleFitness</title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
	<script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<script type="text/javascript" src="js/consignacao.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
</head>
<!-- CABEÇALHO -->
<body ng-controller="consignacaoController">
	<div class="wrapper">
		<header class="header header-fixed navbar container-fluid">
			<div class="row">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="menu.html" class="navbar-brand">
								<i class="glyphicon glyphicon-heart-empty"></i>
								<span class="heading-font">PurpleFitness</span>
							</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="materia_prima.html">Matéria Prima</a></li>
								<li><a href="cliente.html">Clientes</a></li>
								<li><a href="estoque.html">Estoques</a></li>
								<li><a href="item.html">Produtos</a></li>
								<li class="active"><a href="consignacao.html">Consignação</a></li>
								<li><a href="index.html">Sair</a></li>
							</ul><!--/.nav-collapse -->
						</div><!--/.container-fluid -->
					</div>
				</nav>
				</div> <!-- /container -->
			</div>
		</header>
	</div>
	<!-- MENU LATERAL  -->
		
	<div class="box">
		<div class="row">
			<div class="column col-sm-12" id="main">
				<div class="padding">
					<div class="full col-sm-12">
							<!-- consignacao -->
							<br><br><br>
							<table align="right">
							<tr>
								<td>
							<a href="consignacao_relatorio.html"  class="btn btn-purple btn-xs pull-right button-add"><i class="glyphicon glyphicon-file"></i> Relatório de Consignação</a>
								</td>
								<td style="padding-left:10px">
							<a href="#" ng-click="showWindow()" class="btn btn-purple btn-xs pull-right button-add"><i class="glyphicon glyphicon-plus-sign"></i> Nova Consignação</a>
								</td>
							</tr>	
							</table>
							<br/>
							<hr>
							<table class="table">
								<tr ng-repeat="c in consignacoes"> 
                                    <td class="item"> 
                                    	<a ng-if="c.finalizing==1"><span class="glyphicon glyphicon-time" style="color:#FFA500"></span></a>
                                    	<a ng-if="c.finalized==1"><span class="glyphicon glyphicon-time" style="color:red"></span></a>
                                        <a ng-click="showWindow(c)">{{c.nameCustomer}}</a>  
                                        <a ng-click="showWindow(c)" class="glyphicon glyphicon-pencil linkEditar"></a> 
                                        <a ng-click="showWindow(c,1)" class="glyphicon glyphicon-save baixa consig linkBaixa"></a> 
                                        <br><small>Data: {{c.finalDate}}</small> 
                                    </td> 
                                </tr>
							</table>
						</div><!-- /col-12 -->
					</div><!-- /padding -->
				</div> <!--main-->
				<!-- FORMULÁRIO DO consignação -->
				<div class="modal fade" id="consignacaoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close back-button" data-dismiss="modal">&times;<span class="sr-only">Close</span></button>
								<h4 class="purple" id="myModalLabel">Consignação</h4>
							</div>
							<div class="modal-body">
								<form name="consignacaoForm" id="consignacaoForm">
									<div ng-show="dar_baixa==false">
									<!--<p>Por favor preencha todos os campos.</p>-->
									<!-- CLIENTE-->
									<div class="col-md-8">
										<div class="form-group">
											<label for="cliente">Cliente</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</div>
												<!--FIX_ME - na linha abaixo trocar o ng-option para pegar o id do cliente, que é cliente.identifier-->
												<select ng-model="consignacao.nameCustomer" ng-options="cliente.name as cliente.name for cliente in clientes" name="cliente" id="cliente" class="form-control">
												</select>
											</div>
										</div>
									</div>	
									<!-- data -->
									<div class="col-md-4">
										<div class="form-group"  style="padding-right:0" ng-class="{'has-error':consignacaoForm.finalDate.$invalid && consignacaoForm.finalDate.$touched}">
											<label for="data">Data da Devolução</label>
											<div class="input-group  ">
												<div class="input-group-addon">
													<i class="glyphicon glyphicon-calendar"></i>
												</div>
												<input ng-model="consignacao.finalDate" ng-required="false" name="data" id="finalDate" class="form-control" type="text">
												<span ng-if="consignacaoForm.finalDate.$invalid && consignacaoForm.finalDate.$touched" class="glyphicon glyphicon-user form-control-feedback"></span>
											</div>
											<span ng-if="consignacaoForm.finalDate.$invalid && consignacaoForm.finalDate.$touched" class="help-block">A data da devolução é requerida.</span>
										</div>
									</div>	
									
									<!-- ESTOQUE-->
									<div class="col-md-12">
									<label>Inserir Itens</label>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="estoque">Estoque</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="glyphicon glyphicon-folder-open"></i>
												</div>
												<!--FIX_ME - na linha abaixo trocar o ng-option para pegar o id do estoque, que é estoque.identifier-->
												<select ng-model="estoqueSelecionado" ng-options="estoque as estoque.title for estoque in estoques" name="estoque" id="estoque" class="form-control" placeholder="e">
												</select>
											</div>
										</div>
									</div>	
										<!-- PRODUTO-->
									<div class="col-md-6">
										<div class="form-group">
											<label for="item">Item</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="glyphicon glyphicon-folder-open"></i>
												</div>
												<!--Tem que mudar para item.identifier-->
												<select ng-model="itemSelecionado" ng-options="item as item.name for item in items" name="item" id="item" class="form-control">
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-6">	
										<!-- quantidade -->
										<div class="form-group column"  ng-class="{'has-error':consignacaoForm.quantidadeItem.$invalid && consignacaoForm.quantidadeItem.$touched}">
											<label for="quantidadeItem">Quantidade</label>
											<div class="input-group">
												<input ng-model="consignacao.quantidadeItem" ng-required="false" name="quantidadeItem" id="quantidadeItem" class="form-control" type="text" placeholder="">
												<div class="input-group-addon">
													<a ng-click="addItem()"><span class="glyphicon glyphicon-log-in"></span> Inserir</a>
												</div>	
												<span ng-if="consignacaoForm.quantidadeItem.$invalid && consignacaoForm.quantidadeItem.$touched" class="glyphicon glyphicon-user form-control-feedback"></span>
												
											</div>
										</div>
									</div>
									<div class="col-md-12" ng-if="valor_total>0">
										<table width="100%">
											<tr>
												<th>Produto</th>
												<th>Quantidade</th>
												<th>Valor Unitário</th>
												<th>Total</th>
											</tr>
											<tr ng-repeat="item in itensConsignados">
												<td>{{item.nameProduct}}</td>
												<td>{{item.quantity}}</td>
												<td>{{item.price | currency:"R$ ":2}}</td>
												<td>{{item.price * item.quantity | currency:"R$ ":2}}</td>
											</tr>
											<tr>
												<td colspan="4"><br><b>Valor Total: {{valor_total | currency:"R$ ":2}}</b></td>
											</tr>
										</table>
									</div>	
									<!-- Main content here -->
									<div class="form-group">
										<div class="modal-footer">
											<button type="button" class="btn btn-default back-button" data-dismiss="modal">Fechar</button>
											<input ng-click="save(consignacao)" type="submit" class="btn btn-purple button button-full" value="Salvar">
										</div>
									</div>
									</div>
									<div ng-show="dar_baixa">
										<h3>{{consignacao.nameCustomer}}</h3>
										Lista de Produtos <br><br>
									<table width="100%">
										<tr>
											<th>Produto</th>
											<th>Quantidade</th>
											<th>Valor Unitário</th>
											<th>Total</th>
										</tr>
										<tr ng-repeat="item in consignacao.stockItemConsignmentsTO">
											<td>{{item.nameProduct}}</td>
											<td><input type="text" ng-model="item.quantity"></td>
											<td>{{item.price | currency:"R$ ":2}}</td>
											<td>{{item.price * item.quantity | currency:"R$ ":2}}</td>
										</tr>
										<tr>
											<td colspan="4" ng-if="dar_baixa"><br><b>Valor Total: {{getTotalBaixa() | currency:"R$ ":2}}</b></td>
										</tr>
										<tr>
											<td><br><br></td>
										</tr>
									</table>
										<input ng-click="baixa(consignacao)" type="submit" class="btn btn-purple button linkBaixa" value="Dar Baixa">
									</div>
								</form>
							</div> <!--modal-body-->
						</div> <!--modal content-->
					</div> <!--modal dialog-->
				</div> <!--modal fade-->
			</div><!--row-->
		</div> <!--box-->
</body>
</html>

